* {
  margin: 0;
  padding: 0;
  font-size: large;
  max-width: 100%;
}

#home {
  background-color: whitesmoke;
  padding: 50px;
}

#about {
  background-color: black;
  padding: 50px;
}

.title {
  text-decoration: underline pink;
}

#portfolio {
  background-color: whitesmoke;
  padding: 50px;
}

#contact {
  background-color: black;
  padding: 50px;
}